.u-section-1 {background-image: url("images/pexelsphoto3735238.jpeg"); background-position: 50% 50%; margin-top: 0; margin-bottom: 0}
.u-section-1 .u-sheet-1 {min-height: 747px}
.u-section-1 .u-image-1 {width: 207px; height: 212px; margin: 464px auto 0 0}
.u-section-1 .u-social-icons-1 {white-space: nowrap; height: 32px; min-height: 16px; width: 116px; min-width: 68px; margin: -122px 0 60px auto}
.u-section-1 .u-icon-1 {height: 100%}
.u-section-1 .u-icon-2 {height: 100%}
.u-section-1 .u-icon-3 {height: 100%} 

@media (max-width: 1199px){ .u-section-1 .u-sheet-1 {min-height: 636px}
.u-section-1 .u-image-1 {margin-top: 394px} }

@media (max-width: 991px){ .u-section-1 .u-sheet-1 {min-height: 545px}
.u-section-1 .u-image-1 {margin-top: 273px} }

@media (max-width: 767px){ .u-section-1 .u-sheet-1 {min-height: 515px}
.u-section-1 .u-image-1 {width: 144px; height: 157px; margin-top: 328px}
.u-section-1 .u-social-icons-1 {margin-top: -95px} }

@media (max-width: 575px){ .u-section-1 .u-sheet-1 {min-height: 494px}
.u-section-1 .u-image-1 {margin-top: 297px}
.u-section-1 .u-social-icons-1 {margin-top: -94px} }.u-section-2 {margin-top: 0; margin-bottom: 0}
.u-section-2 .u-sheet-1 {min-height: 573px}
.u-section-2 .u-layout-wrap-1 {width: 1140px; margin: 51px auto}
.u-section-2 .u-layout-cell-1 {min-height: 446px}
.u-section-2 .u-container-layout-1 {padding: 30px}
.u-section-2 .u-text-1 {text-transform: uppercase; letter-spacing: 4px; font-size: 1.25rem; margin: 0 auto 0 0}
.u-section-2 .u-text-2 {font-size: 3.75rem; margin: 20px 0 0}
.u-section-2 .u-image-1 {min-height: 446px; background-image: url("images/pexelsphoto3825031.jpeg"); background-position: 50% 50%}
.u-section-2 .u-container-layout-2 {padding: 30px}
.u-section-2 .u-layout-cell-3 {min-height: 446px}
.u-section-2 .u-container-layout-3 {padding: 30px}
.u-section-2 .u-text-3 {font-size: 1rem; line-height: 1.8; font-weight: 400; margin: 0} 

@media (max-width: 1199px){ .u-section-2 {min-height: 428px}
.u-section-2 .u-sheet-1 {min-height: 495px}
.u-section-2 .u-layout-wrap-1 {position: relative; width: 940px}
.u-section-2 .u-layout-cell-1 {min-height: 396px}
.u-section-2 .u-text-2 {width: auto; margin-right: 24px}
.u-section-2 .u-image-1 {min-height: 368px}
.u-section-2 .u-layout-cell-3 {min-height: 368px} }

@media (max-width: 991px){ .u-section-2 {min-height: 342px}
.u-section-2 .u-sheet-1 {min-height: 409px}
.u-section-2 .u-layout-wrap-1 {width: 720px}
.u-section-2 .u-layout-cell-1 {min-height: 536px}
.u-section-2 .u-text-1 {width: auto}
.u-section-2 .u-text-2 {margin-right: -32px; font-size: 3rem}
.u-section-2 .u-image-1 {min-height: 282px}
.u-section-2 .u-layout-cell-3 {min-height: 100px} }

@media (max-width: 767px){ .u-section-2 {min-height: 795px}
.u-section-2 .u-sheet-1 {min-height: 862px}
.u-section-2 .u-layout-wrap-1 {width: 540px}
.u-section-2 .u-layout-cell-1 {min-height: 100px}
.u-section-2 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-text-2 {margin-right: 160px}
.u-section-2 .u-image-1 {min-height: 635px}
.u-section-2 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-2 .u-container-layout-3 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-2 {min-height: 560px}
.u-section-2 .u-sheet-1 {min-height: 627px}
.u-section-2 .u-layout-wrap-1 {width: 340px}
.u-section-2 .u-text-2 {margin-right: 0}
.u-section-2 .u-image-1 {min-height: 400px} }.u-section-3 {background-image: none}
.u-section-3 .u-sheet-1 {min-height: 642px}
.u-section-3 .u-layout-wrap-1 {margin: 60px auto}
.u-section-3 .u-image-1 {min-height: 505px; background-image: url("images/pexelsphoto3763311.jpeg"); background-position: 63.05% 50%}
.u-section-3 .u-container-layout-1 {padding: 30px}
.u-section-3 .u-layout-cell-2 {min-height: 253px}
.u-section-3 .u-container-layout-2 {padding: 30px}
.u-section-3 .u-icon-1 {height: 78px; width: 78px; background-image: none; margin: 0 auto}
.u-section-3 .u-text-1 {text-transform: uppercase; letter-spacing: 4px; font-size: 1.25rem; margin: 20px 0 0}
.u-section-3 .u-layout-cell-3 {min-height: 253px}
.u-section-3 .u-container-layout-3 {padding: 30px}
.u-section-3 .u-icon-2 {height: 78px; width: 78px; background-image: none; margin: 0 auto}
.u-section-3 .u-text-2 {text-transform: uppercase; letter-spacing: 4px; font-size: 1.25rem; margin: 20px 0 0}
.u-section-3 .u-layout-cell-4 {min-height: 253px}
.u-section-3 .u-container-layout-4 {padding: 30px}
.u-section-3 .u-icon-3 {height: 78px; width: 78px; background-image: none; margin: 0 auto}
.u-section-3 .u-text-3 {text-transform: uppercase; letter-spacing: 4px; font-size: 1.25rem; margin: 20px 0 0}
.u-section-3 .u-layout-cell-5 {min-height: 253px; background-image: none}
.u-section-3 .u-container-layout-5 {padding: 30px}
.u-section-3 .u-icon-4 {height: 78px; width: 78px; background-image: none; margin: 0 auto}
.u-section-3 .u-text-4 {text-transform: uppercase; letter-spacing: 4px; font-size: 1.25rem; margin: 20px 0 0} 

@media (max-width: 1199px){ .u-section-3 {min-height: 462px}
.u-section-3 .u-sheet-1 {min-height: 418px}
.u-section-3 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-3 .u-image-1 {min-height: 416px}
.u-section-3 .u-layout-cell-2 {min-height: 209px}
.u-section-3 .u-layout-cell-3 {min-height: 209px}
.u-section-3 .u-layout-cell-4 {min-height: 209px}
.u-section-3 .u-layout-cell-5 {min-height: 209px} }

@media (max-width: 991px){ .u-section-3 {min-height: 1307px}
.u-section-3 .u-sheet-1 {min-height: 1263px}
.u-section-3 .u-image-1 {min-height: 831px}
.u-section-3 .u-layout-cell-2 {min-height: 186px}
.u-section-3 .u-layout-cell-3 {min-height: 186px}
.u-section-3 .u-layout-cell-4 {min-height: 186px}
.u-section-3 .u-layout-cell-5 {min-height: 186px} }

@media (max-width: 767px){ .u-section-3 .u-sheet-1 {min-height: 1023px}
.u-section-3 .u-image-1 {min-height: 623px}
.u-section-3 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-layout-cell-2 {min-height: 100px}
.u-section-3 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-layout-cell-3 {min-height: 100px}
.u-section-3 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-layout-cell-4 {min-height: 100px}
.u-section-3 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-3 .u-layout-cell-5 {min-height: 100px}
.u-section-3 .u-container-layout-5 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-3 .u-sheet-1 {min-height: 792px}
.u-section-3 .u-image-1 {min-height: 392px} }.u-section-4 {min-height: 834px}
.u-section-4 .u-layout-wrap-1 {margin: 0 auto 0 0}
.u-section-4 .u-image-1 {min-height: 834px; background-image: linear-gradient(0deg, rgba(0,0,0,0.15), rgba(0,0,0,0.15)), url("images/pexelsphoto374825.jpeg"); background-position: 29.87% 100%}
.u-section-4 .u-container-layout-1 {padding: 30px}
.u-section-4 .u-text-1 {letter-spacing: 0; font-size: 3.75rem; font-weight: 400; text-transform: none; margin: 0}
.u-section-4 .u-text-2 {margin: 16px 59px 0}
.u-section-4 .u-layout-cell-2 {min-height: 417px; background-image: none}
.u-section-4 .u-container-layout-2 {padding: 30px}
.u-section-4 .u-image-2 {width: 300px; height: 300px; background-image: url("images/pexelsphoto2023384.jpeg"); background-position: 50% 50%; margin: 0 auto}
.u-section-4 .u-text-3 {text-transform: uppercase; letter-spacing: 4px; font-size: 1.25rem; margin: 20px 0 0}
.u-section-4 .u-image-3 {min-height: 417px; background-image: url("images/pexelsphoto2215599.jpeg"); background-position: 50% 50%}
.u-section-4 .u-container-layout-3 {padding: 30px} 

@media (max-width: 1199px){ .u-section-4 {min-height: 542px}
.u-section-4 .u-layout-wrap-1 {margin-right: initial; margin-left: initial}
.u-section-4 .u-image-1 {min-height: 688px}
.u-section-4 .u-text-2 {margin-left: 9px; margin-right: 9px}
.u-section-4 .u-layout-cell-2 {min-height: 344px}
.u-section-4 .u-image-3 {min-height: 344px} }

@media (max-width: 991px){ .u-section-4 {min-height: 381px}
.u-section-4 .u-image-1 {min-height: 527px}
.u-section-4 .u-text-2 {margin-left: auto; margin-right: auto}
.u-section-4 .u-layout-cell-2 {min-height: 100px}
.u-section-4 .u-image-3 {min-height: 263px} }

@media (max-width: 767px){ .u-section-4 {min-height: 1140px}
.u-section-4 .u-image-1 {min-height: 791px}
.u-section-4 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-4 .u-image-3 {min-height: 395px}
.u-section-4 .u-container-layout-3 {padding-left: 10px; padding-right: 10px} }

@media (max-width: 575px){ .u-section-4 {min-height: 701px}
.u-section-4 .u-image-1 {min-height: 498px}
.u-section-4 .u-image-3 {min-height: 249px} }.u-section-5 {min-height: 679px}
.u-section-5 .u-layout-wrap-1 {width: 1140px; margin: 60px auto}
.u-section-5 .u-layout-cell-1 {min-height: 300px}
.u-section-5 .u-container-layout-1 {padding: 30px}
.u-section-5 .u-text-1 {font-weight: 700; margin: 0 auto}
.u-section-5 .u-text-2 {text-transform: uppercase; letter-spacing: 4px; margin: 23px 0 0}
.u-section-5 .u-text-3 {font-style: normal; margin: 18px 1px 0}
.u-section-5 .u-layout-cell-2 {min-height: 300px}
.u-section-5 .u-container-layout-2 {padding: 30px}
.u-section-5 .u-text-4 {font-weight: 700; margin: 0 auto}
.u-section-5 .u-text-5 {text-transform: uppercase; letter-spacing: 4px; margin: 20px 0 0}
.u-section-5 .u-text-6 {font-style: normal; margin: 16px 1px 0}
.u-section-5 .u-layout-cell-3 {min-height: 299px}
.u-section-5 .u-container-layout-3 {padding: 30px}
.u-section-5 .u-text-7 {font-weight: 700; margin: 0 auto}
.u-section-5 .u-text-8 {text-transform: uppercase; letter-spacing: 4px; margin: 18px 0 0}
.u-section-5 .u-text-9 {font-style: normal; margin: 16px 1px 0}
.u-section-5 .u-layout-cell-4 {min-height: 299px}
.u-section-5 .u-container-layout-4 {padding: 30px}
.u-section-5 .u-text-10 {font-weight: 700; margin: 0 auto}
.u-section-5 .u-text-11 {text-transform: uppercase; letter-spacing: 4px; margin: 20px 0 0}
.u-section-5 .u-text-12 {font-style: normal; margin: 18px 1px 0}
.u-section-5 .u-image-1 {min-height: 599px; background-image: url("images/pexelsphoto1389994.jpeg"); background-position: 50% 50%}
.u-section-5 .u-container-layout-5 {padding: 30px 30px 20px 20px} 

@media (max-width: 1199px){ .u-section-5 {min-height: 583px}
.u-section-5 .u-layout-wrap-1 {width: 940px}
.u-section-5 .u-layout-cell-1 {min-height: 247px}
.u-section-5 .u-text-3 {margin-left: 0; margin-right: 0}
.u-section-5 .u-layout-cell-2 {min-height: 247px}
.u-section-5 .u-text-6 {margin-left: 0; margin-right: 0}
.u-section-5 .u-layout-cell-3 {min-height: 247px}
.u-section-5 .u-text-9 {margin-left: 0; margin-right: 0}
.u-section-5 .u-layout-cell-4 {min-height: 247px}
.u-section-5 .u-text-12 {margin-left: 0; margin-right: 0}
.u-section-5 .u-image-1 {min-height: 494px} }

@media (max-width: 991px){ .u-section-5 {min-height: 1235px}
.u-section-5 .u-layout-wrap-1 {width: 720px}
.u-section-5 .u-layout-cell-1 {min-height: 100px}
.u-section-5 .u-layout-cell-2 {min-height: 100px}
.u-section-5 .u-layout-cell-3 {min-height: 100px}
.u-section-5 .u-layout-cell-4 {min-height: 100px}
.u-section-5 .u-image-1 {min-height: 987px} }

@media (max-width: 767px){ .u-section-5 {min-height: 1209px}
.u-section-5 .u-layout-wrap-1 {width: 540px}
.u-section-5 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-container-layout-3 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-container-layout-4 {padding-left: 10px; padding-right: 10px}
.u-section-5 .u-image-1 {min-height: 740px}
.u-section-5 .u-container-layout-5 {padding-right: 10px; padding-left: 10px} }

@media (max-width: 575px){ .u-section-5 {min-height: 958px}
.u-section-5 .u-layout-wrap-1 {width: 340px}
.u-section-5 .u-image-1 {min-height: 466px} }.u-section-6 {background-image: none}
.u-section-6 .u-sheet-1 {min-height: 693px}
.u-section-6 .u-layout-wrap-1 {margin-top: 60px; margin-bottom: 60px}
.u-section-6 .u-layout-cell-1 {min-height: 573px}
.u-section-6 .u-container-layout-1 {padding: 30px}
.u-section-6 .u-text-1 {font-size: 1.25rem; text-transform: uppercase; letter-spacing: 4px; margin: 0 auto 0 0}
.u-section-6 .u-text-2 {font-size: 3.75rem; margin: 20px auto 0 0}
.u-section-6 .u-text-3 {margin: 20px auto 0 0}
.u-section-6 .u-image-1 {min-height: 573px; background-image: url("images/pexelsphoto3294248.jpeg"); background-position: 37.94% 50%}
.u-section-6 .u-container-layout-2 {padding: 30px}
.u-section-6 .u-layout-cell-3 {min-height: 573px; background-image: none}
.u-section-6 .u-container-layout-3 {padding: 0}
.u-section-6 .u-image-2 {height: 273px; margin: 300px auto 0 0} 

@media (max-width: 1199px){ .u-section-6 .u-sheet-1 {min-height: 592px}
.u-section-6 .u-layout-cell-1 {min-height: 472px}
.u-section-6 .u-text-2 {font-size: 2.25rem}
.u-section-6 .u-image-1 {min-height: 472px}
.u-section-6 .u-layout-cell-3 {min-height: 472px}
.u-section-6 .u-image-2 {height: 225px; margin-right: initial; margin-left: initial} }

@media (max-width: 991px){ .u-section-6 .u-sheet-1 {min-height: 482px}
.u-section-6 .u-layout-cell-1 {min-height: 100px}
.u-section-6 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-text-2 {font-size: 1.875rem}
.u-section-6 .u-image-1 {min-height: 397px}
.u-section-6 .u-layout-cell-3 {min-height: 100px}
.u-section-6 .u-image-2 {height: 172px; margin-right: initial; margin-left: initial} }

@media (max-width: 767px){ .u-section-6 .u-sheet-1 {min-height: 1131px}
.u-section-6 .u-image-1 {min-height: 477px}
.u-section-6 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-6 .u-image-2 {height: 350px; object-position: 50% 0%; background-position: 50% 0%; margin-top: 0; margin-right: initial; margin-left: initial} }

@media (max-width: 575px){ .u-section-6 .u-sheet-1 {min-height: 816px}
.u-section-6 .u-layout-wrap-1 {margin-top: 20px; margin-bottom: 21px}
.u-section-6 .u-image-1 {min-height: 300px}
.u-section-6 .u-image-2 {height: 220px; margin-right: initial; margin-left: initial} }.u-section-7 {background-image: url("images/pexelsphoto1458916.jpg"); background-position: 50% 50%}
.u-section-7 .u-sheet-1 {min-height: 500px}
.u-section-7 .u-text-1 {font-size: 3.75rem; font-family: Roboto, sans-serif; margin: 60px 0 0 499px}
.u-section-7 .u-text-2 {line-height: 1.8; font-size: 1rem; margin: 20px 0 0 674px}
.u-section-7 .u-form-1 {height: 47px; margin: 30px 0 60px 641px}
.u-section-7 .u-btn-1 {background-image: none} 

@media (max-width: 1199px){ .u-section-7 .u-sheet-1 {min-height: 412px}
.u-section-7 .u-text-1 {margin-left: 299px}
.u-section-7 .u-text-2 {margin-left: 474px}
.u-section-7 .u-form-1 {margin-left: 441px} }

@media (max-width: 991px){ .u-section-7 {background-position: 81.7% 55.22%; background-size: 135%}
.u-section-7 .u-sheet-1 {min-height: 316px}
.u-section-7 .u-text-1 {margin-left: 79px}
.u-section-7 .u-text-2 {margin-left: 254px}
.u-section-7 .u-form-1 {margin-left: 221px} }

@media (max-width: 767px){ .u-section-7 {background-position: 60.07% 71%; background-size: auto 140%}
.u-section-7 .u-sheet-1 {min-height: 300px}
.u-section-7 .u-text-1 {margin-left: 0}
.u-section-7 .u-text-2 {margin-left: 74px}
.u-section-7 .u-form-1 {height: 110px; margin-left: 202px} }

@media (max-width: 575px){ .u-section-7 {background-position: 94.43% 84.83%; background-size: auto 130%}
.u-section-7 .u-text-1 {font-size: 3rem}
.u-section-7 .u-text-2 {margin-left: 0}
.u-section-7 .u-form-1 {width: 338px; margin-left: auto; margin-right: auto}
.u-section-7 .u-form-group-1 {width: 100%}
.u-section-7 .u-form-group-2 {width: 100%} }